* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: aliceblue;
  background-image: url(imgs/nick-fewings-_uYKQgWkMS0-unsplash.jpg);
  background-size: cover;
}

.dog__main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form__dog__container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.dog__photo {
  /* border: solid 2px black; */
  height: 30rem;
  width: 30rem;
  background-size: cover;
  display: flex;
  margin-bottom: 6rem;
  margin-right: 2rem;
}

.dog__image {
  object-fit: cover;
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  max-width: 100%;
  max-height: 100%;
  box-shadow: 1rem 1rem 1rem black;
}

.dog__reload-btn {
  margin-bottom: 1rem;
  border: none;
  padding: .8rem;
  border-radius: 20px;
  background-color: rgb(128, 196, 230);
  box-shadow: 1rem 1rem 3rem black;
  cursor: pointer;
}

.dog__reload-btn:hover {
  transform: translateY(-2px);
}

.dog__reload-btn:active {
  transform: translateY(.5px);
}